<div class="container-news">

<div class="news-small">

    <h3><%= link_to_article article_small %></h3>

    <%= html_transform article_small.body[0 ... 150] + "...." %>
    
    <% article_small %>
  
</div>
</div>

