<div id="subscribe">
	<h2><%= I18n.t(:subscribe) %></h2>
	<ul>
		<li><a id="btnRss" href="<%= Spree::Config[:news_feed_url] %>" title="<%= I18n.t(:subscribe) %>"><%= I18n.t(:feed) %> </a></li>
	</ul>
</div>