<% self.title = "News - " + @article.title %>

<div class="navigation">
  <% if @article.previous %>
	<div class="alignleft">&laquo; <%= link_to_article @article.previous %></div>
	<% end %>
  <% if @article.next %>
	<div class="alignright"><%= link_to_article @article.next %> &raquo;</div>
	<% end %>
	<br class="clear" />
</div>

<%= render 'article', :article => @article %>


<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>
